<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeriGhari"
        tools:targetApi="31">
        <activity
            android:name=".FloatingBox.AdActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".PhonePe.PhonePeActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.PlanActivity"
            android:exported="true" />
        <activity
            android:name=".Pages.QuestionTypes"
            android:exported="true" />
        <activity
            android:name=".Pages.loginActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Experiments.Experimenting"
            android:exported="true" />
        <activity
            android:name=".AlarmActivity.AlarmsActivity"
            android:exported="true" />
        <activity
            android:name=".Pages.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.SetAlarmActivity"
            android:exported="true" />
        <activity
            android:name=".Pages.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.GameActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.GeneralQuestion"
            android:exported="false" />
        <activity
            android:name=".Pages.LandingPage"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".AlarmActivity.AlarmService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name=".AlarmActivity.AlarmReceiver"
            android:exported="true" />
        <receiver
            android:name=".AlarmActivity.DismissReceiver"
            android:exported="true" />
    </application>

</manifest>